* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.active-route {
    text-decoration: underline;
    font-weight: bold;
}

/* ---NAVBAR--- */

nav {
    padding: 3em 2em;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFF7ED;
}

nav a {
    color: black;
}
nav a:hover, :active {
    text-decoration: underline;
}

.title {
    font-size: 1.58rem;
    font-weight: 700;
    text-transform: uppercase;
}
.title:hover, :active {
    text-decoration: none;
}

.nav-links {
    font-weight: 500;
}
.nav-links a {
    padding: 0 0.4em;

    color: #4D4D4D;
}

/* ---BOTTOM PANEL--- */

.bottom-panel {
    padding: 2em;

    font-size: 0.875rem;
    color: #AAAAAA;

    background: #252525;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}

#copyr {
    font-size: 1.3rem;
}

/* ---HOMEPAGE--- */

.home-body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0 2.25em;

    background-image: url(images/homeBg.png);
    background-color: #414141;
    background-size: cover;
    
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-body h1 {
    margin: 0;

    font-size: 2.25rem;
}
.home-body p {
    margin-bottom: 3em;
}
.home-body a {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;

    background-color: #FF8C38;

    border: none;
    border-radius: 5px;

    padding: 1.2em;
    width: 100%;

    cursor: pointer;
}
.home-body a:hover {
    background-color: #cf712e;
}

.home-body h1, p, a {
    max-width: 576px;
}

/* ---ABOUT PAGE--- */

.about-body {
    display: flex;
    flex-direction: column;
}
.about-body img {
    content: url(images/aboutBanner.png);
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 2.5em 2em;
}

.about-main p {
    margin: 0;
}

.explore-banner {
    margin: 3em 0;
    padding: 1.75em;

    background-color: #FFCC8D;
}
.explore-banner h2 {
    margin: 0;

    color: #161616;
}
.explore-banner a {
    display: block;
    margin-top: 1.5em;
    padding: 1em;

    width: 12em;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #161616;

    border: none;
    border-radius: 7px;

    cursor: pointer;
}
.explore-banner a:hover {
    background-color: #252525;
}

/* ---VANS PAGE--- */

.vans-body {
    display: flex;
    flex-direction: column;

    padding: 1.2em;
}

.van-cards-panel {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.3em;
}
.van-cards-panel a {
    text-decoration: none;
    color: #161616;
}

/* ---BADGES--- */

.badge {
    background-color: #FFEAD0;
    color: #4D4D4D;
    text-align: center;

    border-radius: 5px;

    cursor: pointer;

    padding: 0.8em 1.8em;
}
.badge :hover {
    border: 2px solid #FF8C38;
}

/* ---FILTER--- */

.filter-bar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;

    margin-bottom: 2em;
}
.filter-bar p {
    margin: 0;

    color: #4D4D4D;
    text-decoration: underline;

    cursor: pointer;
}

/* ---CARDS--- */

.explore-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 230px;
}
.explore-card img {
    border-radius: 5px;
}
.card-name-price {
    display: flex;
    justify-content: space-between;
}
.card-name-price h3 {
    margin: 0;
    margin-top: 1em;
}
.explore-card p {
    margin: 0;
    align-self: flex-end;
}
.explore-card .badge {
    color: #FFEAD0;
    text-transform: capitalize;

    width: 45%;

    padding: 0.8em 1.5em;
}

/* ---VAN DETAILS--- */

.van-detail-body {
    padding: 1em;

    max-width: 576px;

    margin: 0 auto;
}

.back-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6em;
}
.back-btn p {
    color: #201F1D;
    text-decoration: underline;
}

.details-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: #161616;
}
.details-main-content img {
    border-radius: 5px;
    margin-bottom: 2em;
}
.details-main-content .badge {
    width: 30%;
}
.details-main-content h1 {
    margin-bottom: 0.3em;
}
#price-tag {
    margin: 0;
    font-size: 1.25rem;
}
#price-tag span {
    font-size: 1.5rem;
    font-weight: bold;
}

.rent-btn {
    background-color: #FF8C38;
    border-radius: 5px;

    text-align: center;
    color: #ffffff;

    padding: 0.7em;
}

/* ---HOST LAYOUT--- */

.host-body {
    padding: 1.2em;

    background-color: #FFF7ED;
}

.host-nav {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}
.host-nav a {
    color: #4D4D4D;
}
.host-nav a:hover, :active {
    text-decoration: underline;
    font-weight: 500;

    color: #161616;
}

/* ---HOST VANS PAGE--- */

.host-vans-list-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.host-vans-list-body a {
    color: #161616;
}

.host-van-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: #ffffff;
    border-radius: 5px;

    padding: 1.2em;
}
.host-van-card img {
    width: 15vw;
    height: 15vw;
    max-width: 100px;
    max-height: 100px;

    margin-right: 1em;

    border-radius: 5px;
}

.host-van-card-info {
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.host-van-card-info h3, p {
    margin: 0;
}